[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "lwip"]
	path = lwip
	url = https://github.com/lwip-tcpip/lwip.git
